.o-content--skinny .o-content__body {
  width: 20.833325vw; }

.o-content {
  /* -ctag-example: ...*/
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top: 44px;
  padding-bottom: 44px; }
  .o-content__body {
    width: 58.33331vw;
    margin: 0px auto;
    transition: width 0.3s; }
    @media (max-width: 768px) {
      .o-content__body {
        width: 83.3333vw !important; } }

.o-contentHeader {
  width: 100%;
  height: 66px; }
  .o-contentHeader__backLink {
    width: 4.166665vw;
    height: 100%;
    cursor: hand;
    cursor: pointer;
    transition: width 0.3s;
    background-color: #eee; }
    .o-contentHeader__backLink:hover {
      width: 6.2499975vw; }
  .o-contentHeader h2 {
    border: initial;
    color: #666666;
    line-height: 66px;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin-right: 2.0833325vw; }
  .o-contentHeader__nav {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px; }
  .o-contentHeader__iconLink {
    float: right;
    height: 100%;
    width: 8.33333vw;
    border: 1px solid red; }

.o-contentHeaderTabNav {
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px; }
  .o-contentHeaderTabNav__tabLeadin {
    width: 2.0833325vw;
    height: 100%;
    border-bottom: 1px solid #CCCCCC;
    float: right; }
  .o-contentHeaderTabNav__tabLink {
    width: 16.66666vw;
    height: 100%;
    float: right;
    justify-content: center;
    display: flex;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    cursor: hand;
    cursor: pointer; }
    .o-contentHeaderTabNav__tabLink > * {
      align-self: center; }
    .o-contentHeaderTabNav__tabLink:hover {
      background-color: #E6E6E6; }
    .o-contentHeaderTabNav__tabLink--selected {
      border-bottom: 1px solid #fff;
      cursor: default; }
      .o-contentHeaderTabNav__tabLink--selected:hover {
        background: initial; }
  .o-contentHeaderTabNav--medium .o-contentHeaderTabNav__tabLink {
    width: 8.33333vw;
    line-height: 16.5px; }
  .o-contentHeaderTabNav--large .o-contentHeaderTabNav__tabLink {
    width: 6.2499975vw;
    line-height: 16.5px; }

h1, h2, h3, h4, h5, h6, p, code {
  /* Should only use these in .o-document */
  border: 2px solid red; }

.o-document {
  /* -ctag-example: ...
        <h1>h1 title</h1>
        <h2>h2 title</h2>
        { .h3 }*/
  width: 100%; }
  .o-document h1, .o-document h2, .o-document h3, .o-document h4, .o-document h5, .o-document h6, .o-document p, .o-document code {
    border: initial; }
  .o-document h1, .o-document h2, .o-document h3, .o-document h4, .o-document h5, .o-document h6 {
    overflow: hidden;
    white-space: nowrap;
    color: #111;
    width: 100%;
    color: #666666; }
  .o-document h1 {
    line-height: 44px;
    font-size: 24px;
    padding-bottom: 11px;
    margin-bottom: 11px;
    border-bottom: 8px solid #CCCCCC; }
  .o-document h2 {
    line-height: 33px;
    font-size: 19px;
    padding-bottom: 5.5px;
    margin-bottom: 5.5px; }
  .o-document h3 {
    line-height: 27.5px;
    font-size: 16px;
    padding-bottom: 5.5px;
    margin-bottom: 5.5px; }
  .o-document h4 {
    line-height: 27.5px;
    font-size: 16px;
    padding-bottom: 5.5px;
    margin-bottom: 5.5px; }
  .o-document h5 {
    line-height: 27.5px;
    font-size: 16px;
    padding-bottom: 5.5px;
    margin-bottom: 5.5px; }
  .o-document h6 {
    line-height: 27.5px;
    font-size: 16px;
    padding-bottom: 5.5px;
    margin-bottom: 5.5px; }
  .o-document p {
    line-height: 22px;
    margin-bottom: 5.5px; }
  .o-document__column {
    float: left;
    padding-right: 11px; }
    @media (max-width: 768px) {
      .o-document__column {
        width: 100% !important; } }
    @media (max-width: 768px) {
      .o-document__column {
        padding: 0 !important; } }

input {
  /* Should only use these in .o-form */
  border: 2px solid red; }

.o-table {
  width: 100%; }
  .o-table h1, .o-table h2, .o-table h3, .o-table h4, .o-table h5, .o-table h6, .o-table p, .o-table code {
    border: initial; }

.c-advisor--details .c-advisor__secondaryNavContainer {
  width: 8.33333vw; }

.c-advisor--details .c-advisor__contentContainer {
  width: 24.99999vw;
  left: 8.33333vw; }

.c-advisor--details .c-advisor__detailsContentContainer {
  width: 66.66664vw;
  left: 33.33332vw; }

.c-advisor--orgDetails .c-advisor__contentContainer {
  width: 24.99999vw;
  left: 8.33333vw;
  top: 110px;
  height: calc( 100% - 110px);
  border-top: 1px solid #eee; }

.c-advisor--orgDetails .c-advisor__detailsContentContainer {
  width: 66.66664vw;
  left: 33.33332vw; }

.c-advisor {
  /* -ctag-example: ...
            { .c-advisor__primaryNavLayout }*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #333;
  line-height: 22px;
  font-size: 14px; }
  @media (max-width: 768px) {
    .c-advisor {
      overflow: auto !important; } }
  @media (max-width: 768px) {
    .c-advisor {
      padding-top: 44px !important; } }
  .c-advisor__primaryNavContainer {
    /* -ctag-example: ...
                { .c-primaryNav }*/
    width: 100%;
    height: 55px;
    z-index: 3000; }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__primaryNavContainer {
    position: fixed !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__primaryNavContainer {
    top: 0px !important;
    left: 0px !important; } }
    @media (max-width: 768px) {
      .c-advisor__primaryNavContainer {
        height: 44px !important; } }
  .c-advisor__secondaryNavContainer {
    /* -ctag-example: ...*/
    width: 24.99999vw;
    height: calc( 100% - 55px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    transition: width 0.3s; }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__secondaryNavContainer {
    position: relative !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__secondaryNavContainer {
    width: 100% !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__secondaryNavContainer {
    height: auto !important; } }
  .c-advisor__contentContainer {
    /* -ctag-example: ...*/
    width: 74.99997vw;
    height: calc( 100% - 55px);
    position: absolute;
    top: 55px;
    left: 24.99999vw;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2000;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
    transition: all 0.3s;
    /*
        @include a-position-absolute;
        @include a-top-row-2-half;
        @include a-width-col-9;
        @include a-left-col-3;
        @include a-zindex-content;
        */ }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__contentContainer {
    position: relative !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__contentContainer {
    width: 100% !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__contentContainer {
    height: auto !important; } }
    @media (max-width: 768px) {
      .c-advisor__contentContainer {
        left: 0px !important; } }
  .c-advisor__detailsContentContainer {
    /* -ctag-example: ...*/
    width: 0;
    height: calc( 100% - 55px);
    position: absolute;
    top: 55px;
    left: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2000;
    box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
    transition: all 0.3s; }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__detailsContentContainer {
    position: relative !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__detailsContentContainer {
    width: 100% !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-advisor__detailsContentContainer {
    height: auto !important; } }
    @media (max-width: 768px) {
      .c-advisor__detailsContentContainer {
        left: 0px !important; } }

.c-organizations {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  padding-left: 4.166665vw;
  padding-right: 4.166665vw; }
  .c-organizations__headerContainer {
    width: 100%;
    background-color: #fff; }
  .c-organizations__contentContainer {
    width: 100%;
    height: calc( 100% - 66px);
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 4.166665vw;
    padding-right: 4.166665vw; }

@media (max-width: 768px) and (max-width: 768px) {
  .c-organizations__contentContainer {
    position: relative !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-organizations__contentContainer {
    width: 100% !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-organizations__contentContainer {
    height: auto !important; } }
  .c-organizations table {
    width: 66.66664vw; }
  .c-organizations__category {
    line-height: 66px;
    font-size: 16px;
    color: #777; }
  .c-organizations__tr {
    height: 66px;
    border-bottom: 1px solid #CCCCCC; }
  .c-organizations__td--orgTitle {
    font-size: 16px;
    line-height: 66px;
    width: 24.99999vw; }
    .c-organizations__td--orgTitle > div {
      cursor: hand;
      cursor: pointer; }
  .c-organizations__td--summary {
    width: 33.33332vw;
    line-height: 16.5px; }
  .c-organizations__td--tally {
    text-align: right;
    font-size: 13px;
    width: 8.33333vw; }

.c-overview.c-overview--details {
  padding-left: 2.0833325vw;
  padding-right: 2.0833325vw; }
  .c-overview.c-overview--details .c-overview__headerContainer {
    display: none; }
  .c-overview.c-overview--details .c-overview__contentContainer {
    height: 100%;
    padding-left: 2.0833325vw;
    padding-right: 2.0833325vw;
    padding-top: 11px;
    padding-bottom: 11px; }
  .c-overview.c-overview--details .c-overview__theader, .c-overview.c-overview--details .c-overview__td--status {
    display: none; }
  .c-overview.c-overview--details table {
    width: 20.833325vw; }

.c-overview {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  padding-left: 4.166665vw;
  padding-right: 4.166665vw; }
  .c-overview__contentContainer {
    width: 100%;
    height: calc( 100% - 66px);
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 4.166665vw;
    padding-right: 4.166665vw; }

@media (max-width: 768px) and (max-width: 768px) {
  .c-overview__contentContainer {
    position: relative !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-overview__contentContainer {
    width: 100% !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-overview__contentContainer {
    height: auto !important; } }
  .c-overview table {
    width: 66.66664vw; }
  .c-overview__tr {
    height: 44px;
    border-bottom: 1px solid #CCCCCC; }
    .c-overview__tr--selected {
      border-bottom: 4px solid #aaa; }
      .c-overview__tr--selected td div {
        color: #000; }
  .c-overview__th--title {
    width: 24.99999vw;
    color: #333; }
  .c-overview__th--status {
    color: #333;
    border-left: 1px solid #E6E6E6;
    text-align: center; }
  .c-overview__td--farmTitle, .c-overview__td--fieldTitle {
    color: #808080;
    cursor: hand;
    cursor: pointer;
    cursor: hand;
    cursor: pointer; }
    .c-overview__td--farmTitle:hover, .c-overview__td--fieldTitle:hover {
      background-color: #E6E6E6; }
  .c-overview__td--farmTitle {
    color: #333; }
  .c-overview__td--status {
    border-left: 1px solid #E6E6E6;
    text-align: center;
    color: #808080; }
    .c-overview__td--status > div {
      cursor: hand;
      cursor: pointer; }

.c-overviewField {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative; }
  .c-overviewField__contentContainer {
    width: 100%;
    height: calc( 100% - 66px);
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 4.166665vw;
    padding-right: 4.166665vw; }

@media (max-width: 768px) and (max-width: 768px) {
  .c-overviewField__contentContainer {
    position: relative !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-overviewField__contentContainer {
    width: 100% !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-overviewField__contentContainer {
    height: auto !important; } }

.c-primaryNav {
  /* -ctag-example: ...*/
  width: 100%;
  height: 100%;
  background-color: #053689; }

.c-secondaryNav--skinny.c-secondaryNav {
  width: 8.33333vw; }
  .c-secondaryNav--skinny.c-secondaryNav .c-secondaryNav__header {
    width: 100%; }
    .c-secondaryNav--skinny.c-secondaryNav .c-secondaryNav__header__icon {
      width: 100%;
      margin: 0; }
    .c-secondaryNav--skinny.c-secondaryNav .c-secondaryNav__header__label {
      display: none; }
  .c-secondaryNav--skinny.c-secondaryNav .c-secondaryNav__list__item {
    padding-left: 11px;
    padding-right: 11px; }
    .c-secondaryNav--skinny.c-secondaryNav .c-secondaryNav__list__item__label {
      font-size: 13px; }
  .c-secondaryNav--skinny.c-secondaryNav .c-secondaryNav__season {
    width: 8.33333vw; }
    .c-secondaryNav--skinny.c-secondaryNav .c-secondaryNav__season__label {
      display: none; }
    .c-secondaryNav--skinny.c-secondaryNav .c-secondaryNav__season__labelShort {
      display: block; }
    .c-secondaryNav--skinny.c-secondaryNav .c-secondaryNav__season__icon {
      margin-left: 11px; }

.c-secondaryNav--skinny .c-tertiaryNav {
  width: 8.33333vw; }
  .c-secondaryNav--skinny .c-tertiaryNav__item {
    padding-left: 11px;
    padding-right: 11px; }
    .c-secondaryNav--skinny .c-tertiaryNav__item__label {
      display: none; }
    .c-secondaryNav--skinny .c-tertiaryNav__item__labelShort {
      display: block; }

.c-secondaryNav--tertiary .c-secondaryNav__header__icon {
  margin-left: 0;
  width: 4.166665vw; }

.c-secondaryNav--tertiary .c-secondaryNav__tertiaryHeaderContainer {
  width: calc( 100% - 4.166665vw); }

.c-secondaryNav--tertiary .c-secondaryNav__tertiaryNavContainer {
  width: 100%; }

.c-secondaryNav--tertiary.c-secondaryNav--skinny {
  width: 24.99999vw; }
  .c-secondaryNav--tertiary.c-secondaryNav--skinny .c-secondaryNav__header__icon {
    margin-left: 0;
    width: 4.166665vw; }

.c-secondaryNav {
  /* -ctag-example: ...
            { .c-secondaryNav__header }
            { .c-secondaryNav__list }*/
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .c-secondaryNav__header {
    /* -ctag-example: ...
                { .c-secondaryNav__header__icon }
                { .c-secondaryNav__header__label }*/
    width: 100%;
    height: 55px;
    display: flex;
    background-color: #FFC500;
    cursor: hand;
    cursor: pointer; }
    .c-secondaryNav__header > * {
      align-self: center; }
    .c-secondaryNav__header__icon {
      /* -ctag-example: <div class='
                                    c-secondaryNav__header__icon
                                    ion-briefcase'></div> */
      float: left;
      margin-left: 2.0833325vw;
      transition: all 0.3s;
      text-align: center;
      width: 16px; }
    .c-secondaryNav__header__label {
      /* -ctag-example: ...Header;*/
      float: left;
      overflow: hidden;
      white-space: nowrap;
      line-height: 22px;
      color: #523D00;
      padding-left: 2.0833325vw; }
  .c-secondaryNav__tertiaryHeaderContainer {
    width: 0;
    height: 55px;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: width 0.3s; }
  .c-secondaryNav__list {
    /* -ctag-example: ...
                { .c-secondaryNav__item }
                { .c-secondaryNav__item }
                { .c-secondaryNav__item }
                { .c-secondaryNav__item };*/
    width: 100%;
    height: calc( 100% - 110px);
    background-color: #FFC500;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.3s; }
    .c-secondaryNav__list__item {
      /* -ctag-example: ...
                    { .c-secondaryNav__item__label };*/
      width: 100%;
      height: 55px;
      display: flex;
      padding-left: 2.0833325vw;
      padding-right: 2.0833325vw;
      cursor: hand;
      cursor: pointer;
      color: #523D00;
      transition: padding-left .3s; }
      .c-secondaryNav__list__item > * {
        align-self: center; }
      .c-secondaryNav__list__item:hover {
        background-color: #FFE180; }
      .c-secondaryNav__list__item__label {
        /* -ctag-example: ...navigation item;*/
        overflow: hidden;
        white-space: nowrap;
        line-height: 22px;
        font-size: 14px; }
      .c-secondaryNav__list__item--selected {
        background-color: #FFE180; }
  .c-secondaryNav__tertiaryNavContainer {
    width: 0;
    height: calc( 100% - 110px);
    position: absolute;
    top: 55px;
    right: 0px;
    transition: width 0.3s; }

@media (max-width: 768px) and (max-width: 768px) {
  .c-secondaryNav__tertiaryNavContainer {
    position: relative !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-secondaryNav__tertiaryNavContainer {
    width: 100% !important; } }

@media (max-width: 768px) and (max-width: 768px) {
  .c-secondaryNav__tertiaryNavContainer {
    height: auto !important; } }
  .c-secondaryNav__season {
    width: 100%;
    height: 55px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    padding-left: 2.0833325vw;
    padding-right: 2.0833325vw;
    cursor: hand;
    cursor: pointer; }
    .c-secondaryNav__season > * {
      align-self: center; }
    .c-secondaryNav__season:hover {
      background-color: #E6E6E6; }
    .c-secondaryNav__season__label {
      width: 24.99999vw; }
    .c-secondaryNav__season__labelShort {
      width: 8.33333vw;
      display: none; }

.c-tertiaryHeader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  padding-left: 2.0833325vw; }
  .c-tertiaryHeader > * {
    align-self: center; }

.c-tertiaryNav {
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s;
  border-top: 1px solid #E6E6E6; }
  .c-tertiaryNav__item {
    /* -ctag-example: ...
                { .c-tertiaryNav__item__label };*/
    width: 100%;
    height: 55px;
    display: flex;
    padding-left: 2.0833325vw;
    padding-right: 2.0833325vw;
    cursor: hand;
    cursor: pointer;
    color: #4D4D4D;
    transition: all 0.3s; }
    .c-tertiaryNav__item > * {
      align-self: center; }
    .c-tertiaryNav__item:hover {
      background-color: #E6E6E6; }
    .c-tertiaryNav__item__label {
      /* -ctag-example: ...navigation item;*/
      overflow: hidden;
      white-space: nowrap;
      line-height: 22px;
      font-size: 14px; }
    .c-tertiaryNav__item__labelShort {
      display: none;
      font-size: 13px; }
    .c-tertiaryNav__item--selected {
      background-color: #fff; }
      .c-tertiaryNav__item--selected:hover {
        background-color: #fff; }
