.c-mainNav {
  /* -ctag-example: ...;*/
  width: 100%;
  height: 100%;
  background-color: #00B398; }

.c-redox {
  /* -ctag-example: ...
        { .c-redox__mainNavContainer }
        { .c-redox__secondaryNavContainer }
        { .c-redox__contentContainer }
        ;*/
  width: 100%;
  height: 100%; }
  @media (max-width: 768px) {
    .c-redox {
      padding-top: 66px !important; } }
  .c-redox__mainNavContainer {
    /* -ctag-example: ...
            { .c-mainNav };*/
    width: 100%;
    height: 66px; }
    @media (max-width: 768px) {
      .c-redox__mainNavContainer {
        position: fixed !important; } }
    @media (max-width: 768px) {
      .c-redox__mainNavContainer {
        top: 0px !important;
        left: 0px !important; } }
  .c-redox__secondaryNavContainer {
    /* -ctag-example: ...
            { .c-secondaryNav };*/
    /*
        @include a-height-minus-main-nav-height;
        @include a-width-col-3;
        @include a-position-absolute;
        @include a-left;
        @include a-top-unit( $mainNavHeight );
        */
    height: calc( 100% - 66px);
    width: 24.99999vw;
    position: absolute;
    left: 0px;
    top: 66px; }
    @media (max-width: 768px) {
      .c-redox__secondaryNavContainer {
        width: 100% !important; } }
  .c-redox__contentContainer {
    /* -ctag-example: ...;*/
    width: 74.99997vw;
    height: calc( 100% - 66px);
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #fff; }
    @media (max-width: 768px) {
      .c-redox__contentContainer {
        position: relative !important; } }
    @media (max-width: 768px) {
      .c-redox__contentContainer {
        width: auto !important; } }
    @media (max-width: 768px) {
      .c-redox__contentContainer {
        height: auto !important; } }

.c-secondaryNav {
  /* -ctag-example: ...
        { .c-secondaryNav__item }
        { .c-secondaryNav__item }
        { .c-secondaryNav__item };*/
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow: auto; }
  .c-secondaryNav__item {
    /* -ctag-example: ...
            { .c-secondaryNav__item__icon }
            <div>Secondary Nav</div>;*/
    width: 100%;
    height: 66px;
    font-size: 17.6px;
    line-height: 22px;
    color: #808080;
    display: flex;
    cursor: hand;
    cursor: pointer; }
    .c-secondaryNav__item > * {
      align-self: center; }
    .c-secondaryNav__item:hover {
      background-color: #fff; }
    .c-secondaryNav__item__icon {
      /* -ctag-example: <div class="c-secondaryNav__item__icon ion-soup-can"></div>;*/
      width: 6.2499975vw;
      text-align: center; }
      @media (max-width: 768px) {
        .c-secondaryNav__item__icon {
          width: 12.499995vw !important; } }
    .c-secondaryNav__item--selected {
      background-color: #fff; }
