

@phi : 161.80339%;
@phi_inv : 61.80339%;


.Cmod-StyleGuide {
    width: 100%; height: 100%;
    background-color: #fff;

    font-family: sans-serif;
    color: #333;


    &__mainNav {
        position: absolute;
        top: 0px; left: 0px;
        height: 60px; width: 100%;
        background-color: #eee;
        // border-bottom: 1px solid #ddd;

        &__filler {
            display: table-cell;
            position: relative;
            // background-color: #fff;
            height: 60px; width: 40000px;
            // border-bottom: 1px solid #ddd;
            // box-shadow: -1px 3px 3px 0px rgba( 0,0,0,.05);
            z-index: 300;

            h1 {
                float: left;
                line-height: 64px;
                font-weight: 300;
                font-size: 20px;
                color: #555;
                padding: 0px; margin: 0px;
                padding-left: 30px;
            }
        }

        &__link {
            width: 200px; height: 100%;
            position: relative;
            float: right;
            color: #777;
            font-size: 16px;
            background-color: #fff;
            text-align: center;
            border-left: 1px solid #eee;
            // border-bottom: 1px solid #fff;
            z-index: 200;

            .hand();
            display: flex;
            justify-content: center;
            & > div {
                align-self: center;
            }

            &:hover {
                // background-color: #ddd;
                color: #000 !important;
            }

            &.core {
            }
            &.component {
                background-color: #eee;
                // color: #aaa;
                // border-bottom: 1px solid #ddd;
                // box-shadow: 0px 3px 3px 0px rgba( 0,0,0,.05 );
            }
            body.s_page_comps &.component {
                background-color: #fff;
                // border-bottom: 1px solid #fff;

                box-shadow: none;
                z-index: 50;
            }
            body.s_page_comps &.core {
                background-color: #eee;
                // border-bottom: 1px solid #ddd;
                // box-shadow: 0px 3px 3px 0px rgba( 0,0,0,.05);
                z-index: 100;
            }
        }
    }
    &__content {
        position: absolute;
        top: 60px; left: 0px;
        height: calc( 100% ~'-' 60px ); width: 100%;
        overflow: auto;
        padding: 30px 0px;

    }




    

    &__group {
        width: 80%;
        margin: 0px auto;
        clear: both;
        margin-bottom: 30px;
        .clearfix;

        &__title {
            width: 100%;
            font-size: 24px;
            color: #777;
            padding-bottom: 16px;
            margin-bottom: 0px;
            padding-top: 20px;
            // border-bottom: 2px solid #eee;
            //.interactive;
        }
    }

    &__column {
        width: calc( 50% ~'-' 10px );
        float: left;

        &__header {
            width: 100%;
            float: left;
            font-size: 14px;
            color: #999;
            padding-bottom: 10px;
            margin-top: 20px;
            border-bottom: 1px solid #eee;
        }

        &__subHeader {
            width: 100%;
            float: left;
            font-size: 14px;
            color: #999;
            padding-bottom: 8px;
            margin-top: 20px;
            border-bottom: 1px solid #eee;
        }

        &__item {
            width: 100%;
            float: left;
            color: #777;
            font-size: 13px;
            padding: 6px 0px;

            .interactive;
            .singleLine;

            &__text {
                float: left;
            }

            & em {
                font-style: normal;
                font-weight: 400;
                color: #333;
            }


        }
    }
}
