





// -cmod-name: v-col;
// -cmod-example: ...;
// -cmod-shortcut: <b>v-col</b>-[1,2,...12];
$v-col-1 : 8.3333vw;
$v-col-2 : $v-width-col-1 * 2;
$v-col-3 : 8.3333vw;
$v-col-4 : 8.3333vw;

// -cmod-variable: v-col;
// -cmod-shortcut: <b>v-col</b>-[1,2,...12];
.a-width-{ $var_name } {
    width: $var_value;
}

// -cmod-variable: v-col;
// -cmod-shortcut: <b>v-col</b>-[1,2,...12];
.a-left-{ $var_name } {
    left: $var_value;
}
